/* Background animations */
@keyframes scroll
{
    from{left: 0%;}
    to  {left: -200%;}
}

.scrollingBackground
{
    position: fixed; 
    height: 100%;
    width: 300%;
    top: 0%; 
    left: 0%;
    z-index: -1;
    animation-name: scroll;
    animation-duration: 200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/* Fade In and Fade Out animations */
@keyframes fade 
{
    from{opacity: 0;}
    to  {opacity: 1;}
}

.fadeInContent
{
    background-color: rgba(255, 255, 255, 0.9);
    height: 200%;    width: 30cm;
    margin: 40px auto;

    outline-color: rgb(87, 87, 87);
    outline-width: 1px; 
    outline-style: solid;
    border-radius: 5px;
    
    animation: fade 1s ease-out normal both paused;
}

.fadeOutTitle
{
    background-color: rgba(255, 255, 255, 0.0);
    height: 100%;    width: 100%;
    position: absolute;
    top: 0%;

    align-content: center;
    justify-items: center;

    z-index: 5;

    animation: fade 1s ease-out reverse both paused;
}


@keyframes slideFade 
{
    from{opacity: 0; left: 50%;}
    to  {opacity: 1; left: 0%;}
}

.slideInTab
{
    background-color: rgba(137, 43, 226, 0);
    width: 100%;    height: 2cm;
    position: relative;
    margin: 5px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    animation: slideFade 1s normal both paused;
    transition: background-color 0.25s cubic-bezier(0, 0.65, 0.46, 0.99);
}

.slideInTab:hover
{
    background-color: rgba(137, 43, 226, 0.1);
}

/* BUTTONS */

.socialButton
{
    background-image: linear-gradient(45deg, #FDECC4, #F6CBCF, #C8F9E5);
    box-shadow: 0px 2px 6px -3px black;

    display: flex;

    font-size: large;

    width: 240px;
    padding: 4px;
    margin: 5px;
    border-radius: 5px;
}

.socialButton:hover
{
    background-image: linear-gradient(45deg, #FBDF9D, #F0A8B0, #A4F4D7);
}
